.mainLayout {
  .foodBlock {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .question {
    font-family: 'Exo 2', sans-serif;
    font-size: 36px;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 23px;
  }
}

